{% extends 'base.html' %}


{% block content %}
<div class="mt-5 alert alert-warning text-dark text-center container-fluid " role="alert">
    <div class="row mx-auto mt-2 text-uppercase font-weight-ligth lead">
        <p class="mx-auto">Escrito por: {{ aula.nome_autor }}</p>
    </div>

    {% if aul.email_autor != null %}
    <div>
        <p class="mx-auto">
            Email - {{aul.email_autor}}
        </p>
    </div>
    {% endif %}
    <div class="lead">
        <p class="mx-auto">{{ aula.titulo_aula }}</p>
    </div>
</div>

<div class="row container mx-auto lead">
    <table class="table">
        <thead>
            <h3 class="mx-auto display-4 text-danger"> TEXTOS </h3>
        </thead>
        <tbody>
            {% for texto in textos %}
            <tr>
                <td>
                    <p class="text-center text-uppercase font-weight-bold"> {{texto.topico}} </p>
                </td>
            </tr>
            <tr>
                <td>
                    {% autoescape off %}
                    {{texto.texto}}
                    {% endautoescape %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}