{% extends 'base.html' %}


{% block content %}
<div style="margin-top: 50px" class="alert alert-warning text-dark text-center container" role="alert">
    AULAS
</div>

<div class="row container-fluid">
    {% for aul in aula %}
    <div class="col-md-6 my-3 ">
        <div class="card shadow-lg">
            <div class="card-header rounded-lg bg-danger text-white text-center">
                <h4>{{ aul.titulo_aula }}</h4>
            </div>
            <div class="card-body bg-light circle">
                <h1 class="lead">
                    - {{aul.nome_autor}}
                </h1>
                <h5 class=" card-text lead text-danger">
                    - {{aul.email_autor}}
                </h5>

                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        Descrição
                    </div>
                    <div style="max-height: 240px;" data-spy="scroll" class="card-body overflow-auto">
                        <p class="card-text">{{aul.descricao_aula}}</p>
                    </div>
                </div>
                <a href="{{aul.number}}" class="btn btn-danger mt-2 col"><p class="lead my-auto">Ver aula completa</p></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}