{% extends 'base.html' %}

{% block content %}

<div class="my-3 container-fluid text-monospace">
    <div class="jumbotron bg-dark text-white">
        <h1 class="display-4 text-center mb-3"> <span class="d-none d-lg-block d-print-block badge badge-danger">O uso da tecnologia em favor da cultura</span></h1>
        <p class="lead">É realmente possivel usar a tecnologia na luta para manter a cultura popular?</p>
        <hr class="my-4 bg-white">

        <div class="alert alert-secondary ">
            <h2 class="text-center">Resumo do projeto</h2>
            <p style="text-indent: 30px" class="text-justify lead">Com a nova era digital é notável as dificuldades da cultura e das tradições populares em se manterem “vivas” nesse novo meio.A perda da identidade cultural é um problema comum na sociedade contemporânea e por essa perda de informação a Escola Digital do Saber Popular pretende ser uma plataforma digital que irá divulgar, catalogar e sistematizar os saberes culturais do Rio Grande do Norte com o intuito de preservar e disseminar o patrimônio imaterial do estado.</p>
            <a target="_blank" href="https://docs.google.com/document/d/1-hfoT3qZsH7_Q5Rb8USIAFuwzFzehNZotIZzprJISP0/edit?usp=sharing" class="btn btn-danger">
            Ver o documento completo do projeto</a>
        </div>
    </div>
    <div class="card text-center lead">
        <div class="card-header">
            informações de contato
        </div>
        <div class="card-body">
            <table class="table text-danger">
                <tbody>
                    <tr class="row">
                        <td class="col-auto">Email: </td>
                        <td class="col-auto text-left">samuel.maia@escolar.ifrn.edu.br</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  
</div>

{% endblock %}