{% extends 'base.html' %}


{% block content %}
<div class="alert alert-secondary mt-5 p-5">
    <div class="row mx-auto my-4 p-3">
        <h1 class="display-4 mx-auto text-danger">Texto criado com sucesso</h1>
    </div>
    <div class="row my-4 mx-auto">
        <div class="row justify-content-between container mx-auto">
            <a href="/formulario/utexto/{{ key }}" class="btn btn-danger col-4 p-3">Criar mais um texto</a>
            <a href="/" class="btn btn-danger col-4 p-3">Voltar para o inicio</a>
        </div>
    </div>
</div>
{% endblock %}